/00_Notebook_Basics.ipynb
/01_Basiscommandos.ipynb
/02_Functies.ipynb
/03_Limieten.ipynb
/04_Afgeleiden.ipynb
/05_Integralen.ipynb
/06_GevorderdeGrafieken.ipynb
/07_Differentiaalvergelijkingen.ipynb
/08_GeintegreerdeOefeningen.ipynb